---
import { Image } from "astro:assets";
import { FEATURE_GRID_POSITIONS } from "@/shared/constants/feature-grid-positions";
import { PROFILE } from "@/shared/constants/profile";

const { name, jobTitle, image, imageAlt } = PROFILE;
---


<section
  role="banner"
  class={`card w-full flex flex-col gap-4 justify-center items-center text-center ${FEATURE_GRID_POSITIONS.hero}`}
  aria-labelledby="hero-name"
>
  <Image
    src={image}
    alt={imageAlt}
    class="size-60 object-cover "
    loading="eager"
    decoding="async"
    width={208}
    height={208}
    draggable="false"
  />

  <header>
    <h1 id="hero-name">{name}</h1>
    <p class="text-xl xl:text-2xl">{jobTitle}</p>
  </header>
</section>
