---
import { Image } from "astro:assets";
import { FEATURE_GRID_POSITIONS } from "@/layouts/data/grid-config";
import { PROFILE } from "@/shared/constants/profile";

const { name, jobTitle, image, imageAlt } = PROFILE;
---

<section
  role="banner"
  class={`card w-full flex flex-col gap-4 justify-center items-center text-center ${FEATURE_GRID_POSITIONS.hero}`}
  aria-labelledby="hero-name"
>
  <figure
    class="size-48 border border-accent rounded-full bg-background xl:size-52 m-0 overflow-hidden"
  >
    <Image
      src={image}
      alt={imageAlt}
      class="size-full object-cover"
      loading="eager"
      decoding="async"
      width={208}
      height={208}
    />
  </figure>

  <header>
    <h1 id="hero-name">{name}</h1>
    <p class="text-xl xl:text-2xl">{jobTitle}</p>
  </header>
</section>
