---
import {
  ArrowRightIco,
  CircleIco,
  CurriculumIco,
  MapPinIco,
} from "@/shared/components/icons/ui";
import { PROFILE } from "@/shared/constants/profile";
import { FEATURE_GRID_POSITIONS } from "@/layouts/data/grid-config";

const BASE_ICON_CLASS = "size-5 shrink-0 text-accent";
const BASE_LI_CLASS = "flex items-center gap-4";
---

<section
  class={`card w-full flex flex-col gap-4 justify-center 3xl:gap-6 ${FEATURE_GRID_POSITIONS.letsTalk}`}
  aria-labelledby="lets-talk-heading"
>
  <h2 id="lets-talk-heading" class="sr-only">Contact</h2>

  <ul class="flex flex-col gap-3">
    <li class={BASE_LI_CLASS}>
      <CircleIco class={BASE_ICON_CLASS} aria-hidden="true" />
      <p
        class="animate-pulse [animation-duration:3s] leading-none text-accent!"
      >
        AVAILABLE FOR WORK
      </p>
    </li>

    <li class={BASE_LI_CLASS}>
      <MapPinIco
        class={`${BASE_ICON_CLASS} stroke-accent fill-accent`}
        aria-hidden="true"
      />
      <p>{PROFILE.location}</p>
    </li>

    <li class={BASE_LI_CLASS}>
      <CurriculumIco class={BASE_ICON_CLASS} aria-hidden="true" />
      <a
        href={PROFILE.cv.href}
        download={PROFILE.cv.downloadFilename}
        aria-label="Download curriculum vitae PDF"
        class="text-secondary"
      >
        Download Curriculum
      </a>
    </li>
  </ul>

  <button
    aria-haspopup="dialog"
    aria-controls="contact-modal"
    commandfor="contact-modal"
    command="show-modal"
    type="button"
    class="w-full flex items-center text-center bg-accent-dark/80 p-2 rounded-md font-bold cursor-pointer hover:bg-accent transition-all duration-300 active:bg-accent-active active:translate-y-1 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-accent"
  >
    <span class="flex-1 text-surface! xl:text-xl font-black">Let's Talk!</span>

    <ArrowRightIco
      class="shrink-0 stroke-surface xl:size-7"
      aria-hidden="true"
    />
  </button>
</section>
