---
import { FORM_FIELDS, HIDDEN_FORM_FIELDS } from "./data";
import { CloseIco } from "@/shared/components/icons/ui";
const fieldClass =
  "rounded bg-modern-gray-lightest p-3 font-mono text-white";
---

<dialog
  id="contact-modal"
  aria-labelledby="contact-modal-title"
  class="m-auto w-full max-w-md border-0 bg-modern-gray-medium rounded-md p-4 text-white!"
>
  <button
    type="button"
    commandfor="contact-modal"
    command="close"
    class="absolute right-4 top-4 cursor-pointer"
  >
    <CloseIco class="stroke-white size-6" />
  </button>

  <form
    action="https://formspree.io/f/xeorqyyj"
    method="POST"
    class="flex flex-col gap-4"
  >
    <h2 id="contact-modal-title" class=" m-0 text-3xl">
      Send me a message!
    </h2>

    {
      FORM_FIELDS.map(
        ({ type, name, placeholder, rows, autocomplete, label }) => (
          <label for={name} class="flex flex-col gap-1">
            <span class="font-semibold">{label}</span>

            {type === "textarea" ? (
              <textarea
                id={name}
                class={fieldClass}
                name={name}
                placeholder={placeholder}
                rows={rows ?? 5}
                required
              />
            ) : (
              <input
                id={name}
                class={fieldClass}
                type={type}
                name={name}
                placeholder={placeholder}
                autocomplete={autocomplete}
                required
              />
            )}
          </label>
        ),
      )
    }

    {
      HIDDEN_FORM_FIELDS.map(({ type, name, value }) => (
        <input type={type} name={name} value={value} />
      ))
    }

    <button
      type="submit"
      class="self-end w-1/2 cursor-pointer rounded-md border-2 border-accent px-4 py-2 font-semibold duration-300 hover:bg-accent hover:text-surface focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-accent"
    >
      Send
    </button>
  </form>
</dialog>
