---
import { ArrowRightIco } from "../icons/ui";
import { LETS_TALK_ITEMS } from "@/data/letsTalkList";
import Button from "../ui/Button.astro";
import ContactForm from "../ui/ContactForm.astro";
---

<section
  class="card w-full flex flex-col gap-4 justify-center
  max-md:col-auto
  col-start-1 md:row-start-8 md:row-span-4 md:size-full
  xl:row-start-8 xl:row-span-4 3xl:row-span-4
  3xl:gap-5"
  aria-labelledby="lets-talk-heading"
>
  <h2 id="lets-talk-heading" class="sr-only">Contact</h2>

  {
    LETS_TALK_ITEMS.map(
      ({ Icon, iconClass, type, href, download, content, textClass }) =>
        href ? (
          <p class="flex items-center gap-2 text-sm m-0">
            <Icon aria-hidden="true" class={iconClass} title={content} />
            <a
              href={href}
              download={download}
              aria-label={content}
              title={content}
              class="group flex items-center gap-2 transition-colors rounded-sm"
            >
              <span class="leading-none xl:text-base text-muted! transition-colors group-hover:text-accent!">
                {content}
              </span>
            </a>
          </p>
        ) : (
          <p
            class="flex items-center gap-2 text-sm m-0"
            role={type === "status" ? "status" : undefined}
          >
            <Icon aria-hidden="true" class={iconClass} title={content} />
            <span class={textClass ?? "leading-none xl:text-base"}>
              {content}
            </span>
          </p>
        ),
    )
  }

  <Button
    aria-haspopup="dialog"
    aria-controls="contact-modal"
    aria-label="Open contact form"
    title="Let's Talk"
    onclick="document.getElementById('contact-modal').showModal()"
  >
    <span class="flex-1 text-surface! xl:text-xl">Let's Talk!</span>

    <ArrowRightIco
      class="shrink-0 stroke-surface xl:size-7"
      aria-hidden="true"
    />
  </Button>
</section>
<ContactForm />

<script>
  import { dialogHandler } from "../../logic/dialog";

  dialogHandler();
</script>
