---
import { CircleIco, MapPinIco, ArrowRightIco, MonitorCloud } from "../icons/ui";

import Button from "../ui/Button.astro";

const rowClass = "flex items-center  gap-2 text-sm";

const iconClass = "size-[1em] shrink-0";
---

<section
  class="card w-full flex flex-col gap-3 justify-center
max-md:col-auto max-md:row-auto
col-start-1 md:row-start-8 md:row-span-3 md:size-full
xl:row-start-8 xl:gap-4 3xl:row-span-4
3xl:gap-5
"
  aria-labelledby="lets-talk-heading"
>
  <h2 id="lets-talk-heading" class="sr-only">Contact</h2>

  <div class={rowClass} role="status">
    <CircleIco
      aria-hidden="true"
      class={`${iconClass} fill-accent stroke-accent`}
    />

    <span
      class="text-accent! animate-pulse [animation-duration:3s] leading-none xl:text-base"
    >
      AVAILABLE FOR WORK
    </span>
  </div>

  <div class={rowClass}>
    <MapPinIco
      class={`${iconClass} stroke-accent fill-accent`}
      circleClass="stroke-surface fill-surface"
    />

    <span class="leading-none xl:text-base">Mar del Plata, Argentina</span>
  </div>
  <div class={`${rowClass} hidden xl:flex ` }>
    <MonitorCloud class={`${iconClass} stroke-accent `} />

    <span class="leading-none xl:text-base">Open to in-person or remote</span>
  </div>

  <Button
    aria-disabled="true"
    tabindex="-1"
    class="3xl:h-14 text-center items-center"
  >
    <span class="flex-1 text-surface! xl:text-lg 3xl:text-2xl">Let's Talk!</span
    >

    <ArrowRightIco
      class="shrink-0 stroke-surface 3xl:size-8"
      aria-hidden="true"
    />
  </Button>
</section>
