---
import { TECH_STACK, TECH_TOOLS } from "@/data/techList";

const classH3 = "text-accent text-center text-2xl";
const titleClass = "text-2xl md:text-3xl font-semibold text-accent!";
---

<section
  class="card w-full flex flex-col gap-3 justify-center
  md:col-start-1 md:row-start-11 md:row-span-9 md:size-full
  xl:col-start-2 xl:row-start-6 xl:row-span-8
  3xl:row-start-6 3xl:row-span-8"
  aria-labelledby="techs-heading"
>
  <h3 class={titleClass}>Tech Stack</h3>

  <h3 class={classH3}>Core</h3>

  <ul class="flex flex-wrap gap-5 justify-center items-center">
    {
      TECH_STACK.map(({ Icon, label }) => {
        return (
          <li class="shrink-0 size-8  ">
            <Icon aria-hidden="true" />

            <span class="sr-only">{label}</span>
          </li>
        );
      })
    }
  </ul>

  <h3 class={`${classH3} `}>Tools</h3>

  <ul class="flex flex-wrap justify-center gap-3 list-none">
    {
      TECH_TOOLS.map((item) => (
        <li class="px-2 py-1 rounded-md bg-background/50">{item}</li>
      ))
    }
  </ul>
</section>
